* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper {
    width: 100%;
    // height: 1000px;
    height: 100vh;
    background: #0c192c;

}

.bubbles {
    position: relative;
    display: flex;
}
.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation:  animateBubbles 15s linear infinite;
    animation-duration: calc(125s / var(--i));

}
.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}



@keyframes animateBubbles {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 100px;

    h2 {
        position: absolute;
        font-size: 8em;

        &:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: 2px #03a9f4;
        }

        &:nth-child(2) {
            color: #03a9f4;
            animation: textAnimate 4s ease-in-out infinite;
        }
    }
}

@keyframes textAnimate {
    0%, 100% {
        clip-path: polygon(45% 45%, 45% 15%,
         32% 50%, 54% 60%, 70% 61%, 84% 59%,
          100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 0%, 60% 16%, 65% 
        34%, 66% 51%, 62% 67%, 50% 84%, 
        45% 100%, 46% 100%, 0% 100%);
    }
}





