<section class="home">
    <div class="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Shako Metonidze</h1>
            <h3>And I'm a <span>Frondend Developer</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quam labore accusantium officiis inventore soluta veritatis
                quidem vel sed nisi. Maxime vero repellendus cum fuga atque 
                esse porro libero nesciunt quos.
            </p>
            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-youtube' ></i></a>
                <a href="# "><i class='bx bxl-instagram' ></i></a>
            </div>
            <a href="#" class="btn"> About Me</a>
    
           
        
        </div>
        <div class="home-img">
            <img src="assets/pictures/kobe.webp" alt="">
        </div>
    </div>
    

</section>
